.passwordless-auth-page {
  min-height: calc(100vh - 90px);
  margin-top:90px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(180deg, #f3f8ff 0%, #e6f0ff 100%);
}

.passwordless-auth-content {
  margin-top: 24px;
}

.passwordless-auth-box {
  position: relative;
  width: 430px;
  height: 650px;
  padding: 44px 40px;
  background: white;
  border-radius: 22px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 18px 45px rgba(0, 70, 150, 0.18);
}

.auth-back-button {
  position: absolute;
  top: 24px;
  left: 26px;

  font-size: 28px;

  background: none;
  border: none;
  cursor: pointer;
}

.passwordless-auth-title {
  margin: 0 0 40px;

  color: #0753bf;
  font-size: 34px;
  font-weight: 900;
  text-align: center;
}

.phone-icon-box {
  width: 76px;
  height: 76px;
  margin: 40px auto 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 34px;

  background: #eef5ff;
  border-radius: 50%;
}

.auth-code-title {
  margin: 0 0 14px;

  color: #111827;
  font-size: 24px;
  font-weight: 900;
}

.auth-code-desc {
  margin: 0 0 30px;

  color: #6b7280;
  font-size: 15px;
  font-weight: 600;
}

.auth-code-list {
  display: flex;
  justify-content: center;
  gap: 12px;

  margin-bottom: 20px;
}

.auth-code-input {
  width: 54px;
  height: 58px;

  color: #111827;
  font-size: 24px;
  font-weight: 900;
  text-align: center;

  border: 1px solid #c9d7ee;
  border-radius: 10px;
  outline: none;
}

.auth-code-input:focus {
  border-color: #1479e8;
  box-shadow: 0 0 0 3px rgba(20, 121, 232, 0.15);
}

.auth-timer {
  margin: 0 0 26px;

  color: #0b63ce;
  font-size: 14px;
  font-weight: 800;
}

.auth-confirm-button {
  width: 100%;
  height: 52px;

  color: white;
  font-size: 17px;
  font-weight: 900;

  background: linear-gradient(90deg, #0b63ce 0%, #2588f0 100%);
  border: none;
  border-radius: 12px;

  cursor: pointer;
}

.auth-cancel-button {
  width: 100%;
  height: 52px;
  margin-top: 12px;

  color: #111827;
  font-size: 16px;
  font-weight: 900;

  background: white;
  border: 1px solid #d6deea;
  border-radius: 12px;

  cursor: pointer;
}