.sidebar {
  width: 400px;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 24px 22px;
  gap: 16px;

  background: linear-gradient(180deg, #2588f0, #0753bf);
  box-sizing: border-box;
}

.sidebar-dom {
  box-sizing: border-box;
  background: transparent;
}

/* 실제 영역 비율 */
.sidebar-dom1 {
  flex: 0 0 auto;
}

/* 내용만큼만 차지 */
.sidebar-dom2 {
  flex: 1;
}

/* 남은 공간 전부 사용 */
.sidebar-dom3 {
  flex: 0 0 auto;
}

/* 내용만큼만 차지 */